  @media (min-width: 1220px) {
  	.container {
  		max-width: 1278px;
  	}
  }

  @media(min-width: 1025px) {
  	.careers {
  		&__companies {
  			&-item {

  				&:nth-child(5n+5) {
  					margin-right: 0;
  				}
  			}
  		}
  	}

  	.header {
  		&__phone img {
  			display: none;
  		}
  	}

  }

  @media(min-width: 992px) {
  	.container {
  		max-width: 960px;
  	}
  }

  @media (min-width: 768px) {
  	.container {
  		max-width: 720px;
  	}

  	.mobile {
  		display: none;
  	}

  	.all-mbtn {
  		display: none;
  	}

  	// .hero__steps {
  	// 	display: none;
  	// }
  }

  @media (min-width: 576px) {
  	.container {
  		max-width: 540px;
  	}
  }

  @media(max-width: 1024px) {
  	.search-input {
  		width: 100%;
  	}

  	.banner.other-bg {
  		padding: 32px 260px 32px 32px;
  	}

  	.banner__img {
  		height: 228px;
  		right: 25px;
  	}

  	.header {
  		.social__list {
  			display: none;
  		}

  		&__phone span {
  			display: none;
  		}
  	}

  	.slider {


  		&__info {

  			&-title {
  				font-size: 48px;
  				line-height: 54px;
  			}

  			&-desc {
  				padding-bottom: 24px;
  			}
  		}
  	}

  	.news {
  		padding: 70px 0 0 0;

  		&__list {
  			&-title {
  				font-size: 16px;
  				line-height: 20px;
  			}

  			&-item {
  				margin-bottom: 50px;

  			}
  		}
  	}

  	.specialty {
  		padding: 70px 0;

  		&__list {
  			grid-template-columns: 49% 49%;
  			padding-top: 23px;
  		}

  		&__search {
  			padding: 12px 12px 12px 38px;
  		}

  		&__top {
  			label::before {
  				top: 14px;
  			}
  		}
  	}

  	.about {
  		padding: 70px 0;

  		&__top {
  			flex-wrap: wrap-reverse;

  			&-info {
  				padding: 0 0 90px;
  				max-width: 608px;

  				&-desc {
  					font-size: 26px;
  					line-height: 30px;
  				}
  			}

  			&-video {
  				margin: 0 auto;
  				display: block;
  			}
  		}

  		&__stat {
  			&-list {
  				flex-wrap: wrap;
  			}

  			&-item {
  				width: 50%;
  				padding: 0 0 40px 0;
  			}
  		}
  	}

  	.licenses {
  		display: none;
  	}

  	.partners {
  		padding: 70px 0;
  	}

  	.usefulinf {
  		padding: 70px 0;

  		&__list {
  			&-item {
  				padding: 25px 15px 38px;

  				&:last-child {
  					padding: 25px 15px;
  				}
  			}

  			&-number {
  				font-size: 30px;
  				line-height: 30px;
  			}

  			&-name {
  				font-size: 18px;
  				width: 90%;
  				padding-left: 9px;
  				line-height: 24px;
  				padding-right: 39px;
  			}

  			&-icon {
  				width: 32px;
  				height: 32px;

  				&::before {
  					top: 50%;
  					left: 29%;
  					width: 8px;
  				}

  				&::after {
  					top: 50%;
  					right: 29%;
  					width: 8px;
  				}
  			}
  		}
  	}

  	.footer {

  		&__top {
  			flex-wrap: wrap;
  			padding-bottom: 40px;
  		}

  		&__first-menu,
  		&__second-menu,
  		&__third-menu,
  		&__fourth-menu {
  			width: 50%;
  		}

  		&__third-menu,
  		&__fourth-menu {
  			padding-top: 40px;
  		}

  		&__bottom {
  			padding-top: 40px;
  			grid-template-columns: auto auto;

  			& .with-love::after {
  				right: -8px;
  			}
  		}

  		&__copyright,
  		&__extramenu-list {
  			grid-column-start: 2;
  			grid-column-end: 4;
  			padding-left: 250px;
  		}

  		&__copyright {
  			padding-top: 60px;
  		}
  	}

  	.faq {
  		padding: 44px 0 57px;

  		&__banner {
  			padding: 56px 50px 66px 41px;


  			&-img {
  				width: 400px;
  			}
  		}
  	}

  	.careers {
  		&__top {
  			.title {
  				width: 600px;
  			}
  		}

  		&__companies {
  			&-item {
  				width: 23%;

  				&:nth-child(4n+4) {
  					margin-right: 0;
  				}
  			}
  		}
  	}
  }

  @media(max-width: 992px) {
  	.slider {
  		&__img {
  			width: 100%;
  			height: 100%;
  		}
  	}

  	.news {
  		&__list {
  			&-item {
  				max-width: 50%;
  				flex: 0 50%;
  			}
  		}
  	}

  	.partners {
  		&__list {
  			&-item {
  				padding: 33px 16px;
  			}
  		}
  	}

  	.footer {

  		&__first-menu,
  		&__second-menu,
  		&__third-menu,
  		&__fourth-menu {
  			width: 100%;
  		}

  		&__second-menu,
  		&__third-menu,
  		&__fourth-menu {
  			padding-top: 50px;
  		}

  		&__bottom {
  			display: flex;
  			flex-wrap: wrap;

  			.with-love {
  				padding: 42px 0 0 64px;

  				&::after {
  					right: -32px;
  					top: 42px;
  				}
  			}
  		}

  		&__logo {
  			width: 100%;
  		}

  		&__extramenu-list,
  		&__copyright {
  			padding-left: 0;
  			padding-top: 50px;
  			width: 100%;
  		}
  	}

  	.hero {
  		&__steps {
  			&-item {
  				padding: 16px 14px 14px 20px;
  			}

  			&-desc {
  				font-size: 14px;
  			}
  		}
  	}

  	.faq {
  		&__banner {
  			&-img {
  				width: 300px;
  				right: 40px;
  				top: 40px;
  			}

  			&-title {
  				font-size: 28px;
  				line-height: 36px;
  			}

  			&-desc {
  				font-size: 14px;
  			}
  		}
  	}

  	.careers {
  		&__companies {
  			&-item {
  				width: 48%;
  			}
  		}
  	}

  	.sidebar__menu-list {
  		display: none;
  	}
  }

  @media(max-width: 768px) {
  	.usefulinf {
  		padding: 48px 0 78px;

  		.title {
  			padding-bottom: 16px;
  		}

  		&__box {
  			&-title {
  				font-weight: 500;
  				font-size: 14px;
  				line-height: 18px;
  				padding-bottom: 14px;
  			}

  			&-desc {
  				font-weight: 400;
  				font-size: 14px;
  				line-height: 20px;
  			}
  		}

  		&__list {
  			&-item.active .usefulinf__box {
  				padding: 0 0 6px;
  			}

  			&-name {
  				font-size: 14px;
  				line-height: 18px;
  				font-weight: 500;
  			}

  			&-number {
  				font-size: 26px;
  				line-height: 55px;
  			}

  			&-item.active .usefulinf__list-icon {
  				bottom: auto;
  				top: 5;
  			}

  			&-title {
  				position: relative;
  				padding-bottom: 4px;
  			}

  			&-icon {
  				top: 5px;
  				right: 0;
  			}
  		}
  	}

  	.banner.other-bg {
  		padding: 40px 32px 0;
  		max-height: 405px;

  		&::after {
  			background-position: 20% 20%;
  		}
  	}

  	.banner__img {
  		position: relative;
  		float: right;
  	}

  	.other-bg .banner__title {
  		font-size: 28px;
  		line-height: 32px;
  	}

  	.other-bg .banner__desc {
  		font-size: 14px;
  		line-height: 16px;
  	}

  	.all-btn {
  		display: none;
  	}

  	.all-mbtn {
  		font-size: 18px;
  		line-height: 18px;
  		position: relative;
  		padding: 12px 16px;
  		display: block;
  		width: 100%;
  		border: 1px solid #E6E6E6;
  		border-radius: 6px;
  		transition: ease 0.3s;
  		color: $mainOrange;

  		&::after {
  			content: '';
  			background: url(../../img/icons/right-arrow.svg) no-repeat;
  			filter: invert(36%) sepia(83%) saturate(4177%) hue-rotate(13deg) brightness(100%) contrast(95%);
  			width: 16px;
  			height: 16px;
  			top: 16px;
  			right: 16px;
  			position: absolute;
  			transform: rotate(45deg);
  		}

  		&::after {
  			right: 16px;
  		}

  		&:hover,
  		&:active {
  			background-color: #FFC8B3;
  			border: none;
  		}

  		&:hover::after {
  			right: 16px;
  			left: auto;
  		}
  	}

  	.breadcrumb {
  		&__list {
  			display: none;
  		}
  	}

  	.hero {
  		&::after {
  			background-position: 20% 20%;
  		}

  		&__inner {
  			flex-wrap: wrap;
  		}

  		&__info {
  			padding: 30px 15px 0;
  		}

  		&__list {
  			&-item+&-item {
  				padding-top: 8px;
  			}
  		}

  		&__steps {
  			.container {
  				position: relative !important;
  				padding: 147px 0;
  			}

  			&-title {
  				font-size: 16px;
  				line-height: 20px;
  			}

  			&-desc {
  				font-size: 12px;
  				line-height: 14px;
  				padding-top: 5px;
  			}

  			&-list {
  				top: -18px;
  				flex-wrap: wrap;
  				padding: 0 15px;

  				&-desc {
  					padding-top: 5px;
  				}
  			}

  			&-item {
  				width: 100%;
  				border: 1px solid #e6e6e6;
  				box-shadow: 0 0 6px rgb(0 0 0 / 8%);
  				border-radius: 4px;
  				max-height: 117px;
  				padding: 14px 113px 14px 14px;

  				&+& {
  					margin-left: 0;
  					margin-top: 16px;
  				}

  				&:hover {
  					border: 1px solid $mainOrange;
  					box-shadow: none;
  					transform: none;
  				}
  			}
  		}

  		&__desc {
  			padding-bottom: 26px;
  		}
  	}

  	.header {
  		box-shadow: 0px 1px 0px #E6E6E6;
  	}

  	.stages {
  		padding: 24px 0 18px;
  	}

  	.news {
  		padding: 40px 0 24px;

  		&__list {
  			flex-wrap: nowrap;
  			overflow-x: scroll;
  			width: 100vw;
  			max-width: 100%;
  			padding-bottom: 16px;

  			&-box {
  				.container {
  					padding-right: 0;
  				}
  			}

  			&::-webkit-scrollbar {
  				width: 0;
  				height: 0;
  			}

  			&-item {
  				max-width: 100%;
  				flex: 100%;
  				margin-bottom: 0;
  				padding: 0 16px 0 0;

  			}

  			&-img img {
  				width: 263px;
  				height: 228px;
  				border-radius: 4px;
  			}

  			&-title {
  				font-weight: 400;
  				padding: 16px 0;
  			}
  		}
  	}

  	.specialty {
  		padding: 24px 0;
  		background: transparent;

  		&__top {
  			display: flex;
  			padding: 20px 0 16px;
  		}

  		&__list {
  			padding-top: 0;
  			grid-template-columns: 100%;

  			&-item {
  				border: 1px solid #E6E6E6;
  				box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.08);
  				padding: 16px;
  			}

  			&-item:hover {
  				border: 1px solid $mainOrange;

  				span {
  					color: $mainOrange;
  				}

  				&:after {
  					opacity: 0;
  				}
  			}
  		}

  		.search-form {
  			width: 100%;
  		}
  	}

  	.about {
  		padding: 24px 0 0;

  		&__stat {
  			&-list {
  				padding-top: 44px;
  			}

  			&-item {
  				width: 100%;
  				text-align: center;
  				padding-bottom: 34px;
  				width: 275px;
  				margin: 0 auto;

  				&+& {
  					padding-left: 0;
  				}

  				&:last-child {
  					padding-bottom: 0;
  				}
  			}

  		}

  		&__address {
  			&-box {
  				overflow-x: scroll;
  				width: 100vw;
  				padding: 34px 0 48px;
  				max-width: 100%;

  				&::-webkit-scrollbar {
  					width: 0;
  					height: 0;
  				}

  				.container {
  					padding: 0 0 0 15px;
  				}
  			}

  			&-list {
  				flex-wrap: nowrap;

  				padding-bottom: 16px;
  				padding-top: 0;


  			}

  			&-item {
  				flex: 100%;
  				margin-bottom: 0;
  				margin: 0 16px 0 0;
  				padding: 10px;

  				&:hover {
  					box-shadow: none;
  					border: 1px solid $mainOrange;
  				}

  				&:last-child {
  					margin-right: 16px;
  				}
  			}

  			&-text {
  				font-size: 14px;
  				line-height: 16px;
  				padding-top: 10px;
  			}


  			&-img {
  				&:after {
  					width: 34px;
  					height: 34px;
  					background-size: contain;
  				}

  				img {
  					width: 242px;
  					height: 147px;
  					border-radius: 4px;
  				}
  			}
  		}

  		&__top-video {
  			iframe {
  				width: 330px;
  				height: 182px;
  			}


  			&::after {
  				width: 100%;
  				height: 202px;
  				top: -10px;
  				right: -12px;
  			}
  		}

  		&__top-info {
  			padding: 0 0 44px;
  		}

  		&__top-desc {
  			font-weight: 400;
  			font-size: 18px;
  			line-height: 22px;
  			padding-top: 15px;
  		}

  		&__top-desc2 {
  			font-size: 14px;
  			line-height: 18px;
  			padding-top: 19px;
  		}
  	}

  	.partners {
  		padding: 34px 0 68px;

  		&__list {
  			padding: 16px 122px 0 0;

  			.swiper-wrapper {
  				padding: 0 0 25px;
  			}
  		}
  	}

  	.partners__list-nav {
  		display: none;
  	}

  	.partners .slider__progressbar {
  		bottom: 0;
  		width: 100%;

  		.numbers-slide {
  			margin: 0 auto;
  		}
  	}

  	.topbar {
  		display: none;
  	}

  	.desktop-header {
  		display: none;
  	}

  	.mheader {
  		padding: 8px 0;
  		display: block;

  		&__inner {
  			display: flex;
  			align-items: center;
  			justify-content: space-between;
  		}

  		.header__phone {
  			margin-left: 10px;
  		}

  		&__buttons {
  			position: relative;
  			padding-right: 36px;
  		}
  	}

  	.header__logo-img {
  		width: 117px;
  		height: 48px;
  	}

  	.slider {
  		&__list {
  			&-item {
  				background-position: 0 !important;
  				max-height: 584px;

  				.container {
  					flex-wrap: wrap-reverse;
  					justify-content: center;
  				}
  			}
  		}

  		&__img {
  			width: 287px;
  			height: 294px;
  		}

  		&__info {
  			padding: 0;

  			.all-btn {
  				padding: 12px 16px;
  				display: block;
  				width: 100%;
  				background-color: #FFCEB7;
  				border: none;
  				border-radius: 6px;
  				transition: 0.3s ease;

  				&::after {
  					right: 16px;
  				}

  				&:active {
  					background-color: #FFC8B3;
  				}

  				&:hover {
  					background-color: #FFC8B3;
  					transition: ease 0.3s;

  					&::after {
  						right: 16px;
  						left: auto;
  					}
  				}

  			}

  			&-date {
  				font-weight: 500;
  				font-size: 13px;
  				line-height: 18px;
  				padding-bottom: 6px;
  			}

  			&-title {
  				font-weight: 700;
  				font-size: 28px;
  				line-height: 36px;
  				padding-bottom: 6px;
  			}

  			&-desc {
  				font-weight: 400;
  				font-size: 14px;
  				line-height: 18px;
  				padding-bottom: 64px;
  			}
  		}

  		&__nav {
  			width: 100%;
  			bottom: 0;
  			left: 0;
  			right: 0;
  			height: 44px;
  			top: 120px;
  			justify-content: space-between;
  			z-index: 2;

  			.slider-next,
  			.slider-prev {
  				width: 82px !important;
  				height: 82px !important;
  				justify-content: flex-start;
  				position: relative;
  			}

  			.slider-next {
  				right: -60px !important;
  				left: initial !important;
  			}

  			.slider-prev {
  				left: -60px !important;
  				justify-content: flex-end;
  			}
  		}

  		&__progressbar {
  			bottom: 103px;
  		}
  	}

  	.footer {
  		.poorvision {
  			margin: 32px auto 0;
  		}

  		.with-love {
  			padding: 42px 0 0 120px;
  		}
  	}

  	h1 {
  		font-size: 28px;
  		line-height: 36px;
  	}

  	h2 {
  		font-size: 22px;
  		line-height: 26px;
  	}

  	.faq {
  		&__banner {
  			padding: 128px 19px 28px 28px;
  			margin-bottom: 48px;

  			&-info {
  				width: 100%;
  			}

  			&-title {
  				font-size: 22px;
  				line-height: 26px;
  			}

  			&-desc {
  				padding-top: 9px;
  				font-size: 14px;
  				line-height: 16px;
  			}

  			&-img {
  				width: 192px;
  				left: 25%;
  				top: -32px;
  				right: auto;
  			}
  		}

  		&__list {
  			&-name {
  				font-size: 16px;
  				padding: 16px 0 !important;
  			}

  			&-icon {
  				border: none;

  				&::before {
  					background-color: $mainTextColor;
  				}

  				&::after {
  					background-color: $mainTextColor;
  				}
  			}
  		}

  		&__bottom {
  			.title {
  				padding-bottom: 16px;
  			}
  		}
  	}

  	.stages {
  		&__animation {
  			display: none;
  		}

  		&__mlist {
  			padding-top: 4px;
  			display: block;

  			&-item {
  				border-bottom: 1px solid #E6E6E6;

  				&.active .stages__mbox {
  					opacity: 1;
  					visibility: visible;
  					height: auto;
  					transition: .35s ease;
  					padding: 4px 0 12px;
  				}

  				&.active .stages__mlist-name,
  				&.active .stages__mlist-name sup,
  				&:hover .stages__mlist-name,
  				&:hover .stages__mlist-name sup {
  					color: $mainOrange;
  				}

  				&.active .stages__mlist-icon {
  					img {
  						filter: invert(36%) sepia(83%) saturate(4177%) hue-rotate(13deg) brightness(100%) contrast(95%);
  					}

  					transform: rotate(180deg);
  				}
  			}

  			&-title {
  				display: flex;
  				align-items: center;
  				justify-content: space-between;

  				&:hover .stages__mlist-icon {
  					border-color: $mainOrange;

  					&::before,
  					&::after {
  						background-color: $mainOrange;

  					}
  				}


  			}

  			&-name {
  				font-weight: 500;
  				font-size: 16px;
  				line-height: 18px;
  				color: $mainTextColor;
  				transition: ease-out .3s;
  				padding: 16px 0;
  				max-width: 90%;

  				sup {
  					font-weight: 500;
  					font-size: 12px;
  					line-height: 17px;
  					color: $mainTextColor;
  					padding-right: 10px;
  				}
  			}

  			&-icon {
  				min-width: 32px;
  				min-height: 32px;
  				border-radius: 50%;
  				position: relative;
  				display: flex;
  				justify-content: center;
  				align-items: center;
  				transition: 0.35s ease;
  			}
  		}

  		&__mbox {
  			visibility: hidden;
  			opacity: 0;
  			height: 0;
  			transition: height 500ms ease;

  			&-desc {
  				font-weight: 400;
  				font-size: 14px;
  				line-height: 18px;
  				color: $mainTextColor;
  			}
  		}
  	}

  	.banner {
  		padding: 32px 29px 60px;
  		border-radius: 0;
  		text-align: center;
  		background-image: none;
  		background: linear-gradient(311.16deg, #fdd5bf 13.34%, #fff8f2 119.27%),
  			#fff;
  		margin: 0 -15px 32px;

  		&::before {
  			border-radius: 0;
  			background: url('../../img/mob-banner-bg.svg') no-repeat;
  			background-position: 50% 100%;
  			content: '';
  			position: absolute;
  			width: 100%;
  			height: 100%;
  			top: 0;
  			left: 0;
  			border-radius: 6px;
  		}

  		&__title {
  			font-size: 22px;
  			line-height: 26px;
  		}

  		&__desc {
  			font-size: 12px;
  			line-height: 16px;
  		}
  	}

  	.documents__list.two-columns .documents__list-item {
  		width: 100%;
  	}

  	.resources__list {
  		&-item {
  			width: 100%;
  		}
  	}

  	.information {

  		.container {
  			padding-top: 0;
  			flex-direction: column;
  		}

  		.hero__steps {
  			display: block;

  			&-list {
  				z-index: 2;
  				margin-top: -48px;
  				top: -6px;
  			}
  		}

  		.hero__steps .container {
  			padding: 213px 0;
  		}

  	}

  	.container {
  		position: initial !important;
  	}

  	.nav__back {
  		padding: 12px 12px 12px 44px;
  		color: $mainOrange;
  		font-weight: 500;
  		border: 1px solid #E6E6E6;
  		margin: 16px 0;
  		display: block;
  		width: max-content;
  		border-radius: 4px;
  		font-size: 14px;
  		line-height: 16px;

  		&::after {
  			width: 16px;
  			height: 16px;
  			background: url(../../img/icons/right-arrow-btn.svg) no-repeat;
  			top: 12px;
  			left: 12px;
  			transform: rotate(180deg);
  		}

  		&:hover,
  		&:focus {
  			border: none;
  			padding: 12px 12px 12px 44px;
  			background-color: #FFC8B3;

  			&::after {
  				left: 12px;
  				right: auto;
  			}
  		}
  	}

  	.students__list {
  		flex-wrap: nowrap;
  		overflow: scroll;
  		width: 100vw;
  		max-width: 100%;

  		&::-webkit-scrollbar {
  			width: 0;
  			height: 0;
  		}

  		&-item {
  			max-width: 75%;
  		}
  	}

  	.information {
  		.program__list {
  			&-item {
  				padding: 16px 48px 16px 16px;
  				border: 1px solid #E6E6E6;
  				box-shadow: 0px 0px 6px rgb(0 0 0 / 8%);

  				&::after {
  					bottom: 10px;
  					right: 10px;
  				}

  				&:hover {
  					box-shadow: none;
  				}
  			}

  			&-name {
  				font-size: 16px;
  				line-height: 20px;
  				padding-bottom: 6px;
  				padding-top: 0;
  			}

  			&-desc {
  				font-size: 12px;
  				line-height: 16px;
  			}

  			&-number {
  				padding-bottom: 4px;
  				font-size: 10px;
  				line-height: 14px;
  			}
  		}

  		.program {
  			&__info {
  				display: grid;
  				padding-bottom: 40px;
  				grid-template-columns: auto auto;

  				&-item {
  					border: none;
  					border-radius: 6px;
  					padding: 22px;
  					width: 100%;
  					margin: 0;
  					border-bottom: 1px solid #E6E6E6;
  					border-radius: 0;

  					&:last-child {
  						margin-right: 0;
  					}
  				}

  				&-text1 {
  					font-size: 24px;
  					line-height: 28px;
  				}

  				&-text2 {
  					font-size: 12px;
  					line-height: 16px;
  				}

  			}

  			&__gray-text {
  				font-size: 12px;
  				line-height: 16px;
  			}

  			&__desc {
  				padding-bottom: 0;
  				flex-wrap: wrap-reverse;

  				& h3 {
  					font-size: 16px;
  					line-height: 18px;
  				}

  				&-text {
  					font-size: 14px;
  					line-height: 18px;
  				}

  				&-img {
  					padding-bottom: 16px;

  					img {
  						border-radius: 6px;
  					}
  				}

  				.content__info {
  					padding-right: 0;
  				}
  			}

  			&__practice {
  				&-list {
  					padding-top: 15px;
  				}

  				h3 {
  					font-size: 16px;
  					line-height: 20px;
  				}

  				&-item {
  					flex-wrap: wrap;
  				}

  				&-img {
  					margin-bottom: 20px;
  					width: 100%;
  					margin-right: 0;
  				}

  				&-title {
  					font-size: 16px;
  					line-height: 20px;
  				}

  				&-desc {
  					font-size: 14px;
  					line-height: 18px;
  				}
  			}
  		}
  	}

  	.program__objects {
  		&-list {
  			padding-bottom: 26px;
  		}

  		&-title {
  			font-size: 18px;
  			line-height: 22px;
  		}

  		&-item {
  			font-size: 14px;
  			line-height: 18px;
  		}
  	}

  	.careers {
  		display: none;
  	}

  	.content {
  		&__title {
  			font-size: 18px;
  			line-height: 24px;
  			padding-bottom: 6px !important;
  		}

  		&__list {
  			padding-top: 10px;

  			& li {
  				padding-bottom: 0 !important;
  				font-size: 16px;
  				line-height: 24px;
  			}
  		}

  		&__info {
  			font-size: 14px !important;
  			line-height: 18px !important;
  			padding-bottom: 22px !important;



  			hr,
  			br {
  				display: none;
  			}
  		}
  	}

  	.information {
  		padding-bottom: 60px;
  	}

  	.documents__list {
  		&-item {
  			padding-top: 14px;

  			a {
  				font-size: 14px;
  				line-height: 18px;
  			}
  		}
  	}

  	.normdocuments {
  		.documents__list {
  			width: 100%;
  		}
  	}
  }

  @media(max-width: 476px) {}

  @media(max-width: 375px) {}